.LandingPage {
	height: 100%;
	background-color: var(--white);
}

.logo {
	display: none;
}

@media only screen and (max-device-width: 900px) {
	.logo {
		display: block;
		width: 100%;
	}

	img {
		width: 100%;
	}
}
