.LandingPage {
	height: 100%;
	width: 100%;
	background-color: var(--white);
}

.faqs {
	background-color: var(--white);
	padding-bottom: 64px;
	font-size: large;
}

.faqs-container {
	padding: 16px 32px;
	margin: auto;
	margin-top: 32px;
	background-color: #ffffff;
	border-radius: var(--border-radius);
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-device-width: 500px) {
	.faqs {
		padding-bottom: 0px;
	}

	.faqs h1 {
		margin-top: 16px;
	}

	.faqs-container {
		width: auto;
		padding: 16px var(--main-padding);
		margin-top: 0px;
		border-radius: 0px;
	}
}
