.gallery-page__image-container {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 0.5em;
}

.gallery-page__image-container img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}
