.nav-bar {
	display: flex;
	align-items: center;
}

.message-header {
	display: flex;
	background-color: #e71d36;
	color: #fff;
	width: 100%;
	height: 75px;
	justify-content: flex-start;
	align-items: center;
	font-weight: bolder;
}

.message-header__close {
	width: 5%;
	text-align: center;
	cursor: pointer;
}

.message-header__text {
	width: 90%;
	justify-content: center;
	align-items: center;
}

.message-header__text a {
	color: #fff;
}

.hidden {
	display: none;
}

.nav-bar__logo {
	text-align: center;
}

.nav-bar__logo img {
	width: 100%;
	max-width: 474px;
}

.nav-bar__links {
	font-size: 18px;
	font-weight: 650;	
}

@media only screen and (max-device-width: 700px) {
	.nav-bar {
		display: grid;
		grid-template-columns: 1fr;
	}

	.nav-bar .nav-bar__links {
		padding: 20px;
		margin: auto;
		font-size: 14px;
	}

	.message-header {
		font-size: small;
		height: 90px;
	}
	.message-header__close {
		width: 10%;
	}

	.message-header__text {
		width: 85%;
	}
}
