.nav-bar {
	display: flex;
}

.message-header {
	display: flex;
	background-color: #e71d36;
	color: #fff;
	width: 100%;
	height: 75px;
	justify-content: flex-start;
	align-items: center;
	font-size: larger;
	font-weight: bolder;
}

.message-header__close {
	width: 5%;
	text-align: center;
	cursor: pointer;
}

.message-header__text {
	width: 90%;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
}

@media only screen and (max-device-width: 500px) {
	.donation-header {
		font-size: small;
	}
	.donation-header-close {
		width: 7%;
	}

	.donation-header-text {
		width: 85%;
	}
}

/* .main-logo {
	width: 100%;
	display: flex;
	justify-content: center;
} */

/* .NavBar {
	display: flex;
	justify-content: space-between;
}

.left {
	display: flex;
	align-items: center;
}

.main-links {
	display: flex;
	margin-right: 32px;
}

@media only screen and (max-device-width: 900px) {
	.NavBar {
		display: grid;
		grid-template-columns: 1fr;
	}

	.main-links {
		justify-content: space-between;
		margin-right: 0px;
		margin: 0px 8px;
	}

	img {
		width: 100vw;
	}
} */
