.NavBar {
	display: flex;
	justify-content: space-between;
}

.main-links {
	display: flex;
	margin-right: 32px;
}

@media only screen and (max-device-width: 900px) {
	.NavBar {
		display: grid;
		grid-template-columns: 1fr;
	}

	.main-links {
		justify-content: space-between;
	}

	img {
		width: 100vw;
	}
}
